---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
const today = new Date();
const tstr = today.toISOString().split('T')[0];
// 设置目标日期
const targetDate: Date = new Date('2022-02-24');
// 计算两个日期之间的毫秒数差
const timeDifference: number =  today.getTime() -targetDate.getTime();
// 将毫秒数转换为天数
const days: number = Math.ceil(timeDifference / (1000 * 60 * 60 * 24));
const wwstart = new Date('1939-09-01')
const wwtoday = new Date(wwstart.getTime() + timeDifference)
const wwstr = wwtoday.toISOString().split('T')[0]
// const instr = `/byday/${tstr}.md`
import {getEntry} from 'astro:content'
// import type from 'astro:content'
import type { CollectionEntry, Render } from 'astro:content';
const entry : CollectionEntry<'ww'> | undefined  = await getEntry('ww', `${tstr}`)


const {Content} = await entry.render()
---

<Layout title="Ashare">
	<main>
		<div class = 'flex flex-col justify-center items-center'>
			<h1>Welcome to Ashare</h1>
			<h3>今天是{tstr}</h3>
			<h3>俄乌开战第：{days}天</h3>
			<p>二战开始后的第{days}天：{wwstr}</p>
			<div class="text-left">
				<Content />
			</div>
		</div>
	</main>
</Layout>
